.about-section {
    padding: 40px;
    margin-top: -20px;
}
  
.about-section h1 {
  width: 50%;
  padding: 10px;
  background-color: #333;
  color: #000;
  border-radius: 7px;
}

.branches {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.branches h2 {
  margin: 0;
  padding: 15px ;
  margin-bottom:-15px ;
  color: white;
  border: 1px solid #333;
  background-color: black;
  border-radius: 7px; 
}
.map-image {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.map-image iframe, .map-image img {
  width: 50%;
  height: 400px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}


.timetable {
  padding: 20px;
  margin-top: -60px;
  align-items: center;
}
.timetable h2 {
  text-align: center;
  margin-left: 15%;
  margin-right: 15%;
  padding: 05px; 
  background-color: #333;
  border-radius: 7px; 
}
.timetable table {
  margin: 0 10%;
  padding: 10px;
  width: 80%;
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #ccc;
}

.timetable th, .timetable td {
  border: 1px solid #ccc;
  padding: 10px;
}

.timetable th {
  background-color: #333;
  color: white;
}