.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin:0 auto;
}

.discription {
    padding: 30px;
    background-color: #333;
    border-radius: 10px;
}
.faq-heading{
    margin-top: -20px;
}

.faq-container {
    width: 85%;
    margin: 20px auto;
}

details {
    margin-bottom: 10px;
    padding-bottom: 5px;
    cursor: default;
}

summary {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

summary::after {
    content: "▼";
}

details[open] summary::after {
    content: "▲";
}

.form-container {
    padding: 20px;
    border-radius: 5px;
    text-align: left;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    width: 90px; /* Fixed width for labels */
}

input, textarea {
    flex: 1;
    padding: 8px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}
.textbx {
    margin-top: -60px;
}
textarea {
    height: 70px;
    resize: none;
}

.submit-btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: -20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.submit-btn:hover {
    background: black;
    color: white;
}

@media (max-width: 768px) {
    .main-container {
      display: flex;
      flex-direction: column;
      padding: 10px;
    }
  
    .discription {
      padding: 15px;
      margin-bottom: 20px;
    }
  
    .faq-heading h1 {
      font-size: 20px;
      text-align: center;
    }
  
    .faq-container {
      width: 100%;
      padding: 0 10px;
    }
  
    summary {
      font-size: 14px;
    }
  
    details p {
      font-size: 13px;
      line-height: 1.4;
    }
  
    .faq-container{
      width: 90%;
      font-size: 14px;
      padding: 10px;
    }
  }